/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.settings-container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 300px;
}

.settings-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Setting Item Styles */
.setting-item {
    margin-bottom: 20px;
}

.setting-label {
    font-size: 1em;
    margin-bottom: 8px;
    display: block;
}

/* Dropdown Styles */
.dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    appearance: none;
}

/* Number Input Styles */
.number-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background-color: #f9f9f9;
}

.text-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background-color: #f9f9f9;
}

/* Help Icon Styles */
.help-icon {
    display: inline-block;
    margin-left: 8px;
    color: #4a90e2;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.help-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    white-space: normal;
    font-size: 0.85em;
    line-height: 1.3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 1;
    visibility: visible;
    max-width: 280px;
    /* 最大幅を広げて改行を減らす */
    word-wrap: break-word;
    text-align: center;
    transition: opacity 0.2s;
}

.help-icon::after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 28px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    top: 3px;
    left: 3px;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(32px);
}