#clock-extension {
    width: fit-content;
    height: fit-content;
    line-height: normal;
    margin: auto;
    padding: 5px 10px;

    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;

    border-radius: 5px;
    font-size: 32px;
    z-index: 2147483647;
    pointer-events: none;
}